*, *:before, *:after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
	background-color: #333;
	font-family: consolas, monospace;
	color: #fff;
	font-size: 16px;
}

a {
	text-decoration: none;
}

.wrapper {
	min-height: 100%;
	position: relative;
	overflow: hidden;
}

.video-background {
    background: #000;
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -99;
}
.video-foreground,
.video-background iframe {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    pointer-events: none;
}
#vidtop-content {
    top: 0;
}

/*  #START : Механика игры  */
.game {
	position: fixed;
	height: 100%;
	width: 100%;
	top:  0;
	left: 0;
	cursor: url('image/cursor.png') 32 32, auto;
}

	/*  #START : Вывод результата */
	.game:hover .game_result span:after {
		animation: timer_result 60s steps(60) forwards;
	}
	@keyframes timer_result {
		0% {
			text-indent: 0ch;
		}
		50% {
			color: yellow;
		}
		100% {
			color: red;
			text-indent: -300ch;
		}
	}
	.game_result {
		font-size: 24px;
		visibility: hidden;
	}
	.game_result span {
		font-size: 24px;
		width: 65px;
		display: inline-block;
		vertical-align: middle;
		overflow: hidden;
		color: blue;
	}
	/*   #END : Вывод результата */

	/*  #START : Счетчик времени  */
	.game:hover .game_counter:after {
		animation: timer_counter 60s steps(60) forwards;
	}
	@keyframes timer_counter {
		0% {
			text-indent: -300ch;
		}
		50% {
			color: yellow;
		}
		100% {
			color: red;
			text-indent: 0ch;
		}
	}
	.game_counter {
		position: absolute;
		bottom: 20px;
		left: 20px;
		width: 65px;
		font-size: 24px;
		overflow: hidden;
		white-space: nowrap;
	}
	.game_result span:after,
	.game_counter:after {
		display: block;
		content: '00:0000:0100:0200:0300:0400:0500:0600:0700:0800:0900:1000:1100:1200:1300:1400:1500:1600:1700:1800:1900:2000:2100:2200:2300:2400:2500:2600:2700:2800:2900:3000:3100:3200:3300:3400:3500:3600:3700:3800:3900:4000:4100:4200:4300:4400:4500:4600:4700:4800:4900:5000:5100:5200:5300:5400:5500:5600:5700:5800:5901:00';
	}
	/*  #END : Счетчик времени  */

	/*  #START : Отображение победы */
	.game:hover .game_win {
		animation: win 60s steps(1) forwards;
	}
	@keyframes win {
		0% {}
		100% {
			visibility: visible;
		}
	}

	.game_win {
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 10;
		background-color: #333;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		font-size: 24px;
		visibility: hidden;
	}
	/*  #END : Отображение победы */

	/*  #START : Отображение объектов */
	.game_body,
	.game_items,
	.game_items_2 {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		pointer-events: none;
	}
	.game_body:before,
	.game_body:after,
	.game_items:before,
	.game_items:after,
	.game_items_2:before,
	.game_items_2:after {
		content: '';
		pointer-events: all;
		width: 128px;
		height: 128px;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		display: inline-block;
	}

		/*  #START : Взаимодействие с объектами */
		.game_body:hover .game_counter:after,
		.game_body:hover .game_result span:after {
			animation-play-state: paused;
		}
		.game_body:hover:before,
		.game_body:hover:after,
		.game_body:hover .game_items:before,
		.game_body:hover .game_items:after,
		.game_body:hover .game_items_2:before,
		.game_body:hover .game_items_2:after {
			display: none;
		}
		.game_body:hover .game_items,
		.game_body:hover .game_items_2 {
			position: fixed;
			width: 100%;
			height: 100%;
			z-index: 20;
			background-color: #333;
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			pointer-events: all;
		}
		.game_body:hover .game_result {
			visibility: visible;
		}
		/*  #END : Взаимодействие с объектами */

		/*  #START : Анимирование объектов */
		.game_body:before {
			background-image: url("image/asteroid_1.png");
			animation: fly_asteroid_1 20s infinite;
		}
		@keyframes fly_asteroid_1 {
			0% {transform: translate(100vw, -15vh) rotate(0deg)}
			100% {transform: translate(-9vw, 100vh) rotate(360deg)}
		}

		.game_body:after {
			background-image: url("image/asteroid_3.png");
			animation: fly_asteroid_2 5s infinite;
		}
		@keyframes fly_asteroid_2 {
			0% {transform: translate(100vw, 15vh)}
			100% {transform: translate(9vw, 100vh)}
		}

		.game_items:before {
			background-image: url("image/asteroid_2.png");
			animation: fly_asteroid_3 5s infinite;
		}
		@keyframes fly_asteroid_3 {
			0% {transform: translate(0vw, 0vh) rotate(-90deg)}
			100% {transform: translate(100vw, 100vh) rotate(-90deg)}
		}

		.game_items:after {
			background-image: url("image/asteroid_2.png");
			animation: fly_asteroid_4 3s infinite;
		}
		@keyframes fly_asteroid_4 {
			0% {transform: translate(50vw, 0vh) rotate(-45deg)}
			100% {transform: translate(50vw, 100vh) rotate(-45deg)}
		}

		.game_items_2:before {
			background-image: url("image/asteroid_1.png");
			animation: fly_asteroid_5 8s infinite;
		}
		@keyframes fly_asteroid_5 {
			0% {transform: translate(0vw, 0vh)}
			100% {transform: translate(50vw, 100vh)}
		}

		.game_items_2:after {
			background-image: url("image/asteroid_1.png");
			animation: fly_asteroid_6 6s infinite;
		}
		@keyframes fly_asteroid_6 {
			0% {transform: translate(75vw, 0vh)}
			100% {transform: translate(100vw, 75vh)}
		}
		/*  #END : Анимирование объектов */
	/*  #END : Отображение объектов */

/*  #END : Механика игры  */

/*  #START : Информационное окно  */
.info {
	position: absolute;
	right: 20px;
	bottom: 20px;
	z-index: 50;
}
.info_icon {
	display: inline-block;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	border: 1px solid #fff;
	font-size: 20px;
	color: #fff;
	text-align: center;
	line-height: 23px;
	position: relative;
	z-index: 2;
}
.info_body {
	display: none;
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: #000;
	width: 350px;
	border-radius: 0 0 18px 0;
	padding: 40px 5px 35px 20px;
}
.info_body:target {
	display: block;
}

.info_close {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 18px;
	color: #fff;
}
.info_text {
	padding: 0px 10px 0px 0px;
}
.info_text p {
	margin: 0px 0px 10px 0px;
}
.info_text p:last-child {
	margin: 0;
}
/*  #END : Информационное окно  */